@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700');

* {
  box-sizing: border-box;
 }

body {
 font-family: Yanone Kaffeesatz;
 font-weight: 400;
}

.navbar {
  height: 80px;
}

.heading {
  margin-top: 30px;
  margin-bottom: 60px;
}
